* {
  margin: 0;
  padding: 0;
  /* verification */
  /* border: 1px solid red; */
}
/* roots */
:root {
  --main-color: #597ca0;
  --main-bg-color: #a8bcd1;
  --main-text-color: #1e2733;
  --main-hover-color: #2d3b4d;
  --main-border-color: #394f6b;
  --main-shadow-color: #d1dbe6;
}

/* css for the video listener */
#videolistener {
  height: 70vh;
  border: 2px dashed var(--main-border-color) !important;
  background: var(--main-bg-color);
  video {
    width: 100%;
    height: 100%;
  }
}
/* css pour les articles */
#show {
  background: var(--main-border-color) !important;
}
.article {
  height: 900px !important;
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .article-content {
    /* height: 300px; */
    h2 {
      color: var(--main-text-color);
      font-size: 2rem;
      margin-bottom: 20px;
    }
    p {
      color: var(--main-text-color);
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    a {
      color: var(--main-color);
      font-size: 1.2rem;
      text-decoration: none;
      &:hover {
        color: var(--main-hover-color);
      }
    }
  }
}
